.header-menu {
    margin: 0.5rem auto;
}

.new-game-btn {
    padding: 8px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: #005476;
    color: white;
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.4);
    font-size: 25px;
    font-weight: bold;
    font-family: 'Odibee Sans', cursive;
    letter-spacing: 0.1rem;
}

.new-game-btn:hover {
    background-color: #336b81;
}