@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Odibee Sans', cursive;
  letter-spacing: 0.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./Image/bg.jpg");
}

code {
  font-family: 'Odibee Sans', cursive;
}
